.about {
  max-width: 328px;
  margin-right: 109px;
}

.about-heading {
  margin: 0;
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #474747;
}

.about-text {
  margin-top: 36px;
  margin-bottom: 25px;
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #474747;
}

.about-link {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #474747;
  text-transform: uppercase;
  column-gap: 16px;
}

.about-btn {
  background-image: url("../../assets/img/explore-arrow.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 3px;
}

.about-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 144px;
  width: 100%;
}

.about-450 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .about {
    max-width: 280px;
    margin-right: 70px;
  }
}

@media only screen and (max-width: 662px) {
  .about {
    max-width: 260px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    max-width: 240px;
  }
  .about-text {
    margin-top: 20px;
    font-size: 14px;
  }

  .about-link {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .about {
    max-width: 200px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .about {
    max-width: 100%;
    margin-top: 105px;
    margin-bottom: 60px;
  }

  .about-text {
    font-weight: 400;
    color: #474747;
  }

  .about-450 {
    display: inline;
  }

  .about-socials {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .about {
    margin-right: 0;
  }

  .about-heading {
    font-size: 24px;
    line-height: 36px;
  }

  .about-text {
    margin-top: 24px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .about-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
}

@media only screen and (max-width: 250px) {
  .about-450 {
    display: none;
  }
}
