.error {
  height: 100%;
  margin-top: 75px;
  margin-bottom: 70px;
}

.error-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-heading {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #474747;
  text-align: center;
}

.error-text {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #474747;
}

.error-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #474747;
}

.error-link::after {
  content: "";
  display: block;
  width: 6px;
  height: 11px;
  margin-left: 16px;
  background-image: url("../../assets/img/explore-arrow.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 550px) {
  .error-img {
    max-width: 480px;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .error {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .error-heading {
    margin-top: 25px;
  }

  .error-text {
    margin-bottom: 20px;
  }
}
